{% extends 'admin/admin_base.html' %}
{% load static %}
{% block title %}Create Coupon{% endblock %}

{% block content %}
<div class="container mt-4 mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card shadow-sm border-0 rounded-4">
        <div class="card-header bg-primary text-white text-center py-3 rounded-top-4">
          <h5 class="mb-0 fw-bold">Create Coupon</h5>
        </div>
        <div class="card-body p-4">
          <form method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
              <label class="fw-semibold">Code</label>
              <input type="text" name="code" class="form-control" placeholder="Enter coupon code" required>
            </div>

            <div class="form-group mb-3">
              <label class="fw-semibold">Discount (%)</label>
              <input type="number" name="discount_percent" step="0.01" min="0" class="form-control" placeholder="Enter discount %" required>
            </div>

            <div class="form-group mb-3">
              <label class="fw-semibold">Valid From (YYYY-MM-DD HH:MM AM/PM)</label>
              <input type="text" name="valid_from" class="form-control" placeholder="e.g. 2025-10-22 10:00 AM" required>
            </div>

            <div class="form-group mb-3">
              <label class="fw-semibold">Valid To (YYYY-MM-DD HH:MM AM/PM)</label>
              <input type="text" name="valid_to" class="form-control" placeholder="e.g. 2025-10-23 11:00 PM" required>
            </div>

            <div class="form-group mb-3">
              <label class="fw-semibold">Usage Limit</label>
              <input type="number" name="usage_limit" min="1" class="form-control" placeholder="Enter usage limit" required>
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-success py-2 fw-semibold">Create Coupon</button>
              <a href= '{% url 'coupon_list' %}' class="btn btn-danger py-2 fw-semibold" style="margin-top: 10px;" >Return</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
