{% extends 'home.html' %}

{% block content %}
  <h1>Order #{{ order.id }} Items</h1>

  <a href="{% url 'order_item_create' order_id=order.id %}">Add New Item</a>

  <ul>
    {% for item in items %}
      <li>
        {{ item.product.name }} x {{ item.quantity }} - ${{ item.price }}
        <a href="{% url 'order_item_update' item_id=item.id %}">Edit</a>
        <form method="post" action="{% url 'order_item_delete' item_id=item.id %}">
          {% csrf_token %}
          <button type="submit">Delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>

  <a href="{% url 'order_detail' order_id=order.id %}">Back to Order</a>
{% endblock %}
