{% extends "admin/admin_base.html" %}
{% block title %}Admin Verify OTP{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="card shadow p-4">
    <h4 class="mb-3">Admin OTP Verification</h4>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="d-flex justify-content-left gap-2">
        <button type="submit" class="btn btn-success">Verify OTP</button>
        <a href="{% url 'otp_resend' %}" class="btn btn-primary">Resend OTP</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}

