{% extends 'admin/admin_base.html' %}
{% block content %}
<h2>Update Admin Account</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Update</button>
</form>
<form method="POST" action="{% url 'admin_delete' admin_user.id %}">
    {% csrf_token %}
    <button type="submit" onclick="return confirm('Are you sure you want to delete your account?');">
        Delete Account
    </button>
</form>
<a href="{% url 'admin_dashboard' %}">Back to Dashboard</a>
{% endblock %}
